div.tor {
    padding: 30px 10px 10px 10px;
    max-width: 500px;
    margin: auto;
}

/* div.tor .content {
    padding: 5px 0;
}

div.tor .content>div {
    padding: 10px;
} */

div.tor input {
    padding: 10px;

    border: 2px solid #eee;
    margin: 5px 0;
}